{{ partial "head.html" . }}
<div class="content">
  <div class="post">
    <div class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
      <span class="post-date">
      {{ .Date.Format "Jan 2, 2006" }} &middot; {{ .ReadingTime }} minute read
      {{ if isset .Params "categories" }}
      {{ range .Params.categories }}<a class="label" href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      {{ end }}

      {{ if .Site.DisqusShortname }} &middot; <a href="{{ .Permalink }}#disqus_thread">Comments</a>{{ end }}
      </span>
    </div>
    {{ .Content }}

    <div class="post-footer">
      <!-- <div class="paragraph">
        {{ if .PrevInSection }}
        <a href="{{.PrevInSection.Permalink}}">← Previous Post</a>
        {{else}}
        <a href="/">← Blog</a>
        {{ end }}
        {{ if .NextInSection }}
        <a class="pull-right" href="{{.NextInSection.Permalink}}">Next Post →</a>
        {{else}}
        <a class="pull-right" href="/">Blog →</a>
        {{ end }}
      </div> -->

    {{ $.Scratch.Add "display_see_also" false }}
    {{ $page_link := .Permalink }}
    {{ $categories := .Params.categories }}
    {{ range .Site.Pages }}
      {{ $page := . }}
      {{ $has_common_categories := intersect $categories .Params.categories | len | lt 0 }}
      {{ if and $has_common_categories (ne $page_link $page.Permalink) }}
        {{ $.Scratch.Set "display_see_also" true }}
      {{ end }}
    {{ end }}

    {{ if $.Scratch.Get "display_see_also" }}<h1>See also</h1>
      <div class="paragraph">
        <ul>
        {{ range .Site.Pages }}
          {{ $page := . }}
          {{ $has_common_categories := intersect $categories .Params.categories | len | lt 0 }}
          {{ if and $has_common_categories (ne $page_link $page.Permalink) }}
            <li><a href="{{ $page.Permalink }}">{{ $page.Title }}</a> {{ range .Params.categories }}<a class="label" href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}</li>
          {{ end }}
        {{ end }}
        {{ range .Site.Pages }}
            {{ $page := . }}
            {{ $has_categories := .Params.categories}}
            {{ $doesnt_have_common_categories := intersect $categories .Params.categories | len | eq 0 }}
            {{ if and (eq $page.Type "post") $has_categories $doesnt_have_common_categories }}
            <li><a href="{{ $page.Permalink }}">{{ $page.Title }}</a> {{ range .Params.categories }}<a class="label" href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}</li>
            {{ end }}
        {{ end }}
        </ul>
    </div>
    </div>
  {{ end }}
  {{ if .Site.DisqusShortname }}<div id="disqus_thread"></div>{{ end }}

</div>

{{ with .Site.DisqusShortname }}
<script type="text/javascript">
var disqus_shortname = {{ . }};
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
{{ end }}

{{ with .Site.DisqusShortname }}
<script type="text/javascript">
    var disqus_shortname = {{ . }};
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{{ end }}
</div>
{{ partial "foot.html" . }}
