{{ if isset .Site.Params "highlight" }}<script src="{{ "/js/highlight.pack.js" | absURL }}"></script>
<script>hljs.initHighlightingOnLoad();</script>{{ end }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.5.3/MathJax.js?config=TeX-MML-AM_HTMLorMML" type="text/javascript"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [["\\(", "\\)"]],
    displayMath: [["\\[", "\\]"]],
    ignoreClass: "nostem|nolatexmath"
  },
  asciimath2jax: {
    delimiters: [["\\$", "\\$"]],
    ignoreClass: "nostem|noasciimath"
  },
  TeX: { equationNumbers: { autoNumber: "none" } }
});
</script>
<!-- <script src="/js/gumshoe.min.js" type="text/javascript"></script> -->
<!-- <script type="text/javascript"> -->
<!-- gumshoe.init({ -->
  <!-- selector: '.sectlevel1 a', // Default link selector (must use a valid CSS selector) -->
  <!-- selectorHeader: '#toc', // Fixed header selector (must use a valid CSS selector) -->
  <!-- offset: 0, -->
  <!-- activeClass: 'active', -->
  <!-- callback: function (nav) {} -->
<!-- }); -->
<!-- </script> -->
</body>
</html>
