
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/codemirror.min.css">
<link crossorigin="anonymous" rel="stylesheet" id="stag-google-Montserrat-css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" type="text/css" media="all">
<link rel="stylesheet" href="{{ "/css/below-the-fold.min.css" | absURL }}">

<script>
 window.klipse_settings = {
     selector: '.language-klipse',// css selector for the html elements you want to klipsify
     codemirror_options_in: {
         indentUnit: 2,
         lineWrapping: true,
         lineNumbers: true,
         autoCloseBrackets: true
     }
 };
</script>
<script src="https://storage.googleapis.com/app.klipse.tech/plugin/js/klipse_plugin.js"></script>

{{ if isset .Site.Params "highlight" }}<script src="{{ "/js/highlight.pack.js" | absURL }}"></script>
<script>hljs.initHighlightingOnLoad();</script>{{ end }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_HTMLorMML" type="text/javascript"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [["\\(", "\\)"]],
    displayMath: [["\\[", "\\]"]],
    ignoreClass: "nostem|nolatexmath"
  },
  asciimath2jax: {
    delimiters: [["\\$", "\\$"]],
    ignoreClass: "nostem|noasciimath"
  },
  TeX: { equationNumbers: { autoNumber: "none" } }
});
</script>
</body>
</html>
